<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="js/userHistory.js"></script>
</head>
<body ng-app="userHistory" ng-controller="UserHistoryController">
    <div align="center" ng-controller="getUserHistory" ng-show="userHistoryList.length > 0">
        <h1>История запроса</h1>
        <table>
            <tr>
                <th colspan="2">Запрос</th>
                <th>Ответ</th>
            </tr>
            <tr ng-repeat="i in userHistoryList" id="{{i.id}}">
                <td>{{i.answer}}</td>
                <td></td>
                <td>{{i.request}}</td>
            </tr>
        </table>
    </div>
    <h2>Введите выражение</h2>
    <form ng-submit="addUserHistory(answer)">
        <input type="text"  placeholder="Введите выражение" ng-model="answer"/><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>